/* 
    Document   : tabela
    Created on : Oct 11, 2012, 7:42:30 PM
    Author     : srmf32
    Description:
        Purpose of the stylesheet follows.
*/

            table{
                border-radius:10px;
                background-color:lightblue;
                
            }
            
            th {
                border-radius:15px;
                background-color:lightyellow;
                font-weight:bold;
            }
            
            td{
                color:lightslategray;
            }

